<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- Schema is nothing but database 
    Forein key is used to connect tables
    Primary key is for unique id   -- Never be null (NN)  100% have value
    AI -- Auto Increment we are giving this for authorid -->
    <!-- CREATE SCHEMA `books_database` ; //Here just say how to create all things but in workbench u create automatically without queries 
        -->
    <h1>Book Application</h1>
    <a href="/create/books">Create Books</a>
    <a href="/create/author">Create Authors</a>
    <a href="/display/books">Display Books</a>
</body>
</html>