<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <% for(let i of particularData) { %>
        <!-- <h1>Book ID is : i.bookID %></h1> -->
        <h1>Book Title is : <%= i.bookTitle %></h1>
        <h1>Book Description is : <%= i.bookDescription %></h1>
        <h1>Author Name: <%= authorName["Author" + i.aid] %></h1>
    <% } %>
</body>
</html>